.hero{
    position: relative;
    &__block{
        background-image: url(../../images/hero.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 670px !important;
        width: 100%;
    }

    &__title{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: $color-white;
    max-width: 55%;
    padding-top: 170px;
    margin-bottom: 80px;
    }

    &__link{
        color: $color-white;
        background-color: $color-blue;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        padding: 19px 55px;
        &:hover{
            background-color: $color-white;
            color: $color-blue;
        }
    }
}